<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Hospital Inspection.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1319AD322C50068A0081EB8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1319AD482C50068B0081EB8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1319AD522C50068B0081EB8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
